auth:
  useInstancePrincipals: true

compartment: ocid1.compartment.oc1..
vcn: ocid1.vcn.oc1.uk-london-1.

loadBalancer:
  subnet1: ocid1.subnet.oc1.uk-london-1.
  subnet2: ocid1.subnet.oc1.uk-london-1.
  securityListManagementMode: All
