apiVersion: kubeadm.k8s.io/v1alpha3
kind: InitConfiguration
apiEndpoint:
  advertiseAddress: {{ ip | default(inventory_hostname) }}
  bindPort: 6443
nodeRegistration:
  taints:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
---
apiVersion: kubeadm.k8s.io/v1alpha3
kind: ClusterConfiguration
networking:
  serviceSubnet: {{ kubernetes.service_cidr }}
  podSubnet: {{ kubernetes.pod_network_cidr }}
kubernetesVersion: {{ kubernetes.version }}
controlPlaneEndpoint: {{ ip | default(inventory_hostname) }}:6443
apiServerExtraArgs:
  kubelet-preferred-address-types: InternalIP,ExternalIP
controllerManagerExtraArgs:
  cloud-provider: external
apiServerCertSANs:
{% for san in  apiserver_sans.split(' ') | unique %}
  - {{ san }}
{% endfor %}
