auth:
  region: uk-london-1
  tenancy: ocid1.tenancy.oc1..
  user: ocid1.user.oc1..
  key: |
    -----BEGIN RSA PRIVATE KEY-----
    -----END RSA PRIVATE KEY-----
  fingerprint: ...
  useInstancePrincipals: false
compartment: ocid1.compartment.oc1..
vcn: ocid1.vcn.oc1.uk-london-1.

loadBalancer:
  subnet1: ocid1.subnet.oc1.uk-london-1.
  subnet2: ocid1.subnet.oc1.uk-london-1.
  securityListManagementMode: All
